includes:
    - .Build/vendor/saschaegerer/phpstan-typo3/extension.neon
parameters:
    level: max
    paths:
        - "%currentWorkingDirectory%/Configuration"
        - "%currentWorkingDirectory%/hooks"
        - "%currentWorkingDirectory%/interface"
        - "%currentWorkingDirectory%/rules"
        - "%currentWorkingDirectory%/sanitizer"
        - "%currentWorkingDirectory%/util"
        - "%currentWorkingDirectory%/class.tx_mksanitizedparameters.php"
        - "%currentWorkingDirectory%/class.tx_mksanitizedparameters_Rules.php"
        - "%currentWorkingDirectory%/class.tx_mksanitizedparameters_StealthMode.php"
    bootstrap: %rootDir%/../../saschaegerer/phpstan-typo3/src/PhpstanTypo3Bootstrap.php

