parameters:
    level: 6
    autoload_files:
        - "%currentWorkingDirectory%/.Build/vendor/autoload.php"
    paths:
        - %currentWorkingDirectory%/Classes
        - %currentWorkingDirectory%/ext_localconf.php
        - %currentWorkingDirectory%/ext_emconf.php
    reportUnmatchedIgnoredErrors: false
    excludes_analyse:
        - %currentWorkingDirectory%/Classes/Legacy/*
    ignoreErrors:
        - '#Constant TYPO3_MODE not found#'
