<phpunit
        backupGlobals="true"
        backupStaticAttributes="false"
        bootstrap=".Build/vendor/nimut/testing-framework/res/Configuration/UnitTestsBootstrap.php"
        cacheResultFile=".Build/.phpunit.result.cache"
        colors="true"
        convertErrorsToExceptions="true"
        convertWarningsToExceptions="true"
        forceCoversAnnotation="false"
        processIsolation="false"
        stopOnError="false"
        stopOnFailure="false"
        stopOnIncomplete="false"
        stopOnSkipped="false"
        verbose="false"
>

    <php>
        <env name="TYPO3_PATH_WEB" value=".Build/Web" />
    </php>

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./hooks</directory>
            <directory suffix=".php">./rules</directory>
            <directory suffix=".php">./sanitizer</directory>
            <directory suffix=".php">./util</directory>
        </whitelist>
    </filter>
</phpunit>
